:root {
    --text-color:#DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}



body {
    background: url('assets/bg-desktop.webp');
    font-family:Bai jamjuree;
}


#container{
display: flex;

}

.cartao{


    margin: 1rem 1rem;
    background-color: rgb(255, 255, 255);
}
